extends base.pug


block content 
  section#contact-section
    h1.hprimary.center
        u  Contact Us
    hr
    #contact
        form(action='/contact' method='post')
            .formclass
                label(for='name')  Name:
                br
                input#name(type='text' name='name' placeholder='Enter your Name')
            .formclass
                label(for='Email') E-Mail:
                br
                input#Email(type='text' name='Email' placeholder='Enter your Email')
            .formclass
                label(for='number') Contact Number:
                br
                input#number(type='text' name='number' placeholder='Enter your Contact Number')
            button SUBMIT
                